<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::#script})}"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Users Contacts</title>
</head>

<body>

  <!-- ✅ CONTENT fragment: MUST be outside <body> -->
  <div id="content">
    <div class="max-w-screen-md mx-auto py-10 px-4">
      <h1 class="text-3xl font-bold mb-4 text-blue-700">Welcome to User contacs</h1>
      <p class="text-gray-800 text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ratione!
      </p>
      <p th:if="${loggedInUser == null}">No user in model!</p>
      <p th:if="${loggedInUser != null}" th:text="${loggedInUser.name}">Name here</p>
      <p th:if="${loggedInUser != null}" th:text="${loggedInUser.email}">Name here</p>
    </div>
  </div>

  <!-- ✅ SCRIPT fragment -->
  <div id="script">
    <script>
      console.log("user-profile page")
    </script>
  </div>

</body>
</html>