<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Home page</title>
</head>

<body>

    <section id="content">
        <div class=" bg-gray-200 w-1/2 p-4 mx-auto mt-2 flex flex-col space-y-3 justify-center items-center">
            <h1 class="text-2 font-bold" data-th-text="${name}">My Page</h1>
            <p class=" text-xl text-gray-700">Youtube: <span data-th-text="${youtube}"></span></p>
            <p>Github: <span th:text="${github}"></span></p>

            <!-- data-th-text and th:text same -->

            <a data-th-href="${github}">Click to me get github</a>

            <p class="text-gray-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quo nostrum
                temporibus
                cumque ad similique.
                Odio corporis, eos molestiae assumenda molestias sed itaque aperiam sunt? Consectetur, est voluptate!
                Eligendi incidunt at ratione, magnam perferendis ab voluptatibus facilis deleniti assumenda quibusdam
                animi,
                quod ut sapiente provident quia quo eos velit quos!</p>

            <div class=""> <button class="px-3 py-3 rounded bg-blue-500 hover:bg-blue-900">Click Here</button>
            </div>

        </div>
    </section>

    <div id="script">
        <script>
            console.log("home page");
        </script>
        <script>
            console.log("second home page script");
        </script>
    </div>

</body>

</html>